Repository fetchai/agents-aea, pull requests merged in 2020-06, with the labels that each got.

#1312 List all command implemented AEA-621
  aea/cli/list.py
  aea/cli/utils/constants.py
  tests/test_cli/test_list.py
Labels: cli

#1329 Validate config before publishing implemented AEA-586
  aea/cli/publish.py
  aea/cli/utils/config.py
  aea/configurations/loader.py
  aea/configurations/schemas/aea-config_schema.json
  tests/test_cli/test_publish.py
  tests/test_cli/test_search.py
  tests/test_cli/test_utils/__init__.py
  tests/test_cli/test_utils/test_config.py
  tests/test_cli/test_utils/test_utils.py
  tests/test_cli/tools_for_testing.py
  tests/test_configurations/test_aea_config.py
Labels: cli

#1352 Add method refactored: passing ctx instead of click_context.
  aea/cli/add.py
  aea/cli/create.py
  aea/cli/fetch.py
  aea/cli/registry/fetch.py
  tests/test_cli/test_add/test_contract.py
  tests/test_cli/test_fetch.py
  tests/test_cli/test_registry/test_fetch.py
Labels: cli

#1354 GUI add functionality switched to programmatic usage AEA-630
  aea/cli_gui/__init__.py
  tests/test_cli_gui/test_add.py
Labels: cli

#1379 Use full import path instead of prefix
  aea/helpers/base.py
  tests/data/dummy_skill/dummy_subpackage/__init__.py
  tests/data/dummy_skill/dummy_subpackage/foo.py
  tests/data/dummy_skill/skill.yaml
  tests/data/hashes.csv
  tests/test_package_loading.py
Labels: bug

#1386 GUI upgrades AEA-630, AEA-631
  aea/cli/core.py
  aea/cli/create.py
  aea/cli/install.py
  aea/cli/remove.py
  aea/cli/run.py
  aea/cli_gui/__init__.py
  aea/cli_gui/aea_cli_rest.yaml
  aea/cli_gui/templates/home.html
  aea/cli_gui/templates/home.js
  aea/test_tools/constants.py
  aea/test_tools/test_cases.py
  tests/conftest.py
  tests/test_cli/test_run.py
  tests/test_cli_gui/test_add.py
  tests/test_cli_gui/test_create.py
  tests/test_cli_gui/test_run_agent.py
  tests/test_cli_gui/test_run_oef.py
Labels: bug, cli

#1390 Known GUI issues fixed.
  aea/cli_gui/__init__.py
  aea/cli_gui/static/css/home.css
  aea/cli_gui/templates/home.html
  aea/cli_gui/templates/home.js
Labels: bug, cli, gui

#1398 Feature/current cli issues
  aea/cli/interact.py
  aea/cli/registry/utils.py
  tests/test_cli/test_registry/test_utils.py
Labels: cli

#1406 Test coverage gaps for interact and scaffold filled AEA-629
  aea/cli/interact.py
  aea/cli/scaffold.py
  aea/test_tools/test_cases.py
  tests/test_cli/test_interact.py
  tests/test_cli/test_scaffold/test_generic.py
Labels: cli

#1417 CLI test coverage rised to 100%, Registry integration tests added AEA-629
  aea/cli/interact.py
  aea/cli/launch.py
  aea/cli/registry/utils.py
  aea/cli/run.py
  aea/test_tools/test_cases.py
  tests/test_cli/test_add/test_connection.py
  tests/test_cli/test_add/test_contract.py
  tests/test_cli/test_add/test_generic.py
  tests/test_cli/test_add/test_protocol.py
  tests/test_cli/test_add/test_skill.py
  tests/test_cli/test_core.py
  tests/test_cli/test_fetch.py
  tests/test_cli/test_interact.py
  tests/test_cli/test_registry/test_utils.py
Labels: cli, test

#1427 Fetch agent from GUI implemented AEA-673
  aea/cli/fetch.py
  aea/cli/registry/fetch.py
  aea/cli_gui/__init__.py
  aea/cli_gui/aea_cli_rest.yaml
  aea/cli_gui/templates/home.html
  aea/cli_gui/templates/home.js
  tests/test_cli/test_fetch.py
  tests/test_cli_gui/test_fetch.py
Labels: cli, gui
