Repository fetchai/agents-aea, pull requests merged in 2021-04, with the labels that each got.

#2434 AEA-1472 Testcase for p2p_libp2p_client and p2p_libp2p disconnection reconnetion
  packages/fetchai/connections/p2p_libp2p/connection.py
  packages/fetchai/connections/p2p_libp2p/connection.yaml
  packages/hashes.csv
  tests/conftest.py
  tests/test_packages/test_connections/test_p2p_libp2p/test_communication.py
  tests/test_packages/test_connections/test_p2p_libp2p_client/test_communication.py
Labels: test

#2441 aealite agent example and small test
  libs/go/aealite_agent_example/.gitignore
  libs/go/aealite_agent_example/Makefile
  libs/go/aealite_agent_example/example_env_file.env
  libs/go/aealite_agent_example/go.mod
  libs/go/aealite_agent_example/main.go
  libs/go/aealite_agent_example/tests/pexpect_popen.py
  libs/go/aealite_agent_example/tests/test_build_and_run.py
Labels: minor

#2449 fix: dialogue label equals
  aea/protocols/dialogue/base.py
Labels: patch

#2454 AEA-1500 integration test and docs for simple aggregation skill
  docs/aggregation-demo.md
  mkdocs.yml
  packages/fetchai/agents/simple_aggregator/README.md
  packages/fetchai/agents/simple_aggregator/aea-config.yaml
  packages/fetchai/skills/simple_aggregation/README.md
  packages/fetchai/skills/simple_aggregation/skill.yaml
  packages/hashes.csv
  tests/test_docs/test_bash_yaml/md_files/bash-aggregation-demo.md
  tests/test_packages/test_connections/test_p2p_libp2p_client/test_communication.py
  tests/test_packages/test_skills_integration/test_simple_aggregation.py
Labels: documentation, test

#2456 Add skill tests for simple aggregation
  docs/aggregation-demo.md
  packages/fetchai/agents/simple_aggregator/aea-config.yaml
  packages/fetchai/skills/simple_aggregation/behaviours.py
  packages/fetchai/skills/simple_aggregation/handlers.py
  packages/fetchai/skills/simple_aggregation/skill.yaml
  packages/fetchai/skills/simple_aggregation/strategy.py
  packages/hashes.csv
  tests/test_docs/test_bash_yaml/md_files/bash-aggregation-demo.md
  tests/test_packages/test_skills/test_simple_aggregation/__init__.py
  tests/test_packages/test_skills/test_simple_aggregation/test_behaviours.py
  tests/test_packages/test_skills/test_simple_aggregation/test_handlers.py
  tests/test_packages/test_skills_integration/test_simple_aggregation.py
Labels: test

#2373 Aea 1401/feature/golang based dialogues protocol
  libs/go/aealite/go.mod
  libs/go/aealite/go.sum
  libs/go/aealite/helpers/base.go
  libs/go/aealite/helpers/base_test.go
  libs/go/aealite/protocols/dialogue.go
  libs/go/aealite/protocols/dialogue_label.go
  libs/go/aealite/protocols/dialogue_label_test.go
  libs/go/aealite/protocols/dialogue_test.go
  libs/go/aealite/protocols/dialogues.go
  libs/go/aealite/protocols/message.go
  libs/go/aealite/protocols/message_test.go
  libs/go/aealite/protocols/storage.go
  libs/go/aealite/protocols/storage_test.go
Labels: minor
